# Tutorial de pandas

*pandas* es la librería de Python para Análisis de Datos.

*pandas* proporciona dos estructuras de datos principales: 
* *Series*: array de 1 dimensión con etiquetas
* *DataFrames*: array de 2 dimensiones con etiquetas

Las principales características de pandas son:
* Importación de Datos
* Limpieza de Datos
* Manipulación de Datos
* Cálculos Estadísticos
* Combinación de Datos
* Manipulación de Series Temporales

Otros recursos sobre *Pandas*:
- Manual de Referencia: https://pandas.pydata.org/pandas-docs/stable/
- Python for Data Analysis, Wes McKinney
- Python Data Science Handbook, Jave VanderPlas

In [ ]:
import pandas as pd

## Series en Pandas
* *Series*: array de 1 dimensión con etiquetas

In [ ]:
ser = pd.Series([100, 'foo', 300, 'bar', 500], ['tom', 'bob', 'nancy', 'dan', 'eric'])

In [ ]:
ser

In [ ]:
ser.index

In [ ]:
# Consulta por Etiqueta
ser[['nancy','bob']]
#ser.loc[['nancy','bob']]

In [ ]:
# Consulta por Indice
ser[[4, 3, 1]]
#ser.iloc[[4, 3, 1]]

In [ ]:
'bob' in ser

In [ ]:
ser

In [ ]:
ser * 2

In [ ]:
'foo'*2

In [ ]:
ser

In [ ]:
ser[['nancy', 'eric']] ** 2

## *DataFrame* en Pandas
* *DataFrame*: array de 2 dimensiones con etiquetas

### Crear un DataFrame a partir de un Diccionario de Python

In [ ]:
d = {'one' : pd.Series([100., 200., 300.], index=['apple', 'ball', 'clock']),
     'two' : pd.Series([111., 222., 333., 4444.], index=['apple', 'ball', 'cerill', 'dancy'])}

In [ ]:
df = pd.DataFrame(d)
print(df)

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
pd.DataFrame(d, index=['dancy', 'ball', 'apple'])

In [ ]:
pd.DataFrame(d, index=['dancy', 'ball', 'apple'], columns=['two', 'five'])

### Crear un DataFrame a partir de una Lista de Python

In [ ]:
data = [{'alex': 1, 'alice': 3, 'joe': 2}, {'ema': 5, 'dora': 10, 'alice': 20}]

In [ ]:
pd.DataFrame(data)

In [ ]:
pd.DataFrame(data, index=['orange', 'red'])

In [ ]:
pd.DataFrame(data, columns = ['joe', 'dora','alice', 'ema'], index = [0,1])

### Operaciones con DataFrame

In [ ]:
df

In [ ]:
df['one']

In [ ]:
df['three'] = df['one'] * df['two']
df

In [ ]:
df['flag'] = df['one'] > 250
df

In [ ]:
# Borrar y Obtener una columna
three = df.pop('three')

In [ ]:
three

In [ ]:
df

In [ ]:
# Borrar una columna
del df['two']

In [ ]:
df

In [ ]:
df['one']

In [ ]:
df[['one', 'flag']]

In [ ]:
# Añadir una columna
df.insert(2, 'copy_of_one', df['one'])
df

In [ ]:
# Añadir una columna
df['one_upper_half'] = df['one'][:2]
df

In [ ]:
df['one'][:3]

In [ ]:
df

In [ ]:
(df['one'] == 100) | (df['copy_of_one'] == 300)

In [ ]:
df

In [ ]:
# Filtrado de Datos
#df[df['one'] == 100]
df[(df['one'] == 100) | (df['copy_of_one'] == 300)]
#df[df['one'].isnull()]

In [ ]:
s1 = df['one']
type(s1)
s1.unique()

In [ ]:
df['two'] = [200, 400, 500, 600, 500]

In [ ]:
df

In [ ]:
df.duplicated()

In [ ]:
df.drop_duplicates()

In [ ]:
df.dropna()

In [ ]:
df

In [ ]:
df.fillna(df.sum())

In [ ]:
df.replace(100, 10000)

In [ ]:
df

# Agregación de Datos

In [ ]:
df.groupby('one').count()

In [ ]:
df.groupby('one').mean()
#df.groupby('one').sum()

In [ ]:
import numpy as np
df.groupby('one').agg({'copy_of_one':np.mean, 'two':np.sum})

In [ ]:
df

In [ ]:
df2 = pd.concat([df,df])
df2

In [ ]:
df2.groupby('one').agg({'copy_of_one':lambda x:sum(x), 'two': lambda x:sum(x)})