# Folium: librería para la visualización de datos en mapas

# Visualización de las Emisiones de CO2 en Mapas

In [3]:
import folium
import pandas as pd

### Mapas de los Países del Mundo

https://github.com/python-visualization/folium/blob/master/examples/data/world-countries.json

In [4]:
country_geo = '../datasets/world-countries.json'
print(country_geo)

../datasets/world-countries.json

In [5]:
data = pd.read_csv('../datasets/world-development-indicators/Indicators.csv')
data.shape

(5656458, 6)

In [6]:
data.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

## Consultamos las Emisiones de CO2 para todos los Países en 2011

In [7]:
# Seleccionamos los Datos
hist_indicator = 'CO2 emissions \(metric'
hist_year = 2011

# Creamos los Filtros
mask1 = data['IndicatorName'].str.contains(hist_indicator) 
mask2 = data['Year'].isin([hist_year])

# Aplicamos los Filtros
stage = data[mask1 & mask2]
stage.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
5026275,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,4.724500
5026788,Caribbean small states,CSS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,9.692960
5027295,Central Europe and the Baltics,CEB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,6.911131
5027870,East Asia & Pacific (all income levels),EAS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,5.859548
5028456,East Asia & Pacific (developing only),EAP,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,5.302499

## Seleccionamos los datos para el diagrama

In [8]:
plot_data = stage[['CountryCode','Value']]
plot_data.head()

        CountryCode     Value
5026275         ARB  4.724500
5026788         CSS  9.692960
5027295         CEB  6.911131
5027870         EAS  5.859548
5028456         EAP  5.302499

In [9]:
# Seleccionamos la Etiqueta para el Diagrama
hist_indicator = stage.iloc[0]['IndicatorName']
print(hist_indicator)

CO2 emissions (metric tons per capita)

## Visualize CO2 emissions per capita using Folium

Folium provides interactive maps with the ability to create sophisticated overlays for data visualization

## Visualizamos las Emisiones de CO2

In [10]:
# Crear un Mapa
map = folium.Map(location=[100, 0], zoom_start=1.5)

In [11]:
# Asociar los Datos en el DataFrame con la Geometría definida en el JSON
map.choropleth(geo_data=country_geo, data=plot_data,
             columns=['CountryCode', 'Value'],
             key_on='feature.id',
             fill_color='YlGnBu', fill_opacity=0.7, line_opacity=0.2,
             legend_name=hist_indicator)

In [12]:
# Crear el Mapa HTML
map.save('plot_data.html')

In [13]:
# Importar el Mapa HTMP Interactivo
from IPython.display import HTML
HTML('<iframe src=plot_data.html width=700 height=450></iframe>')

## Otros ejemplos de Folium
https://folium.readthedocs.io/en/latest/quickstart.html#getting-started

## Manual de Folium
https://media.readthedocs.org/pdf/folium/latest/folium.pdf